/* Kotak(box) untuk kartu */
.course-card {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 1.5rem;
    height: 100%;
    transition: transform 0.2s;
}

/* Ketika mouse dilewatkan di atas card, muncul bayangan abu-abu (efek animasi) */
.course-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Judul kartu / teks di kartu  */
.card-subtitle {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #212529;
}

.view-program {
    width: fit-content;
}

.main-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #212529;
}

/* Tulisan : "Telusuri program lainnya" */
.more-programs {
    font-weight: 500;
    color: #0d6efd;
    text-decoration: none;
}