<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Simple Static Page</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <div class="container">
    <h1>Hello, World!</h1>
    <img src="k8s.png" alt="Kubernets" class="my-image" />
    <p>Click the button to see some JavaScript in action.</p>
    <button id="myButton">Click Me!</button>
    <p id="output"></p>
  </div>

  <script src="script.js"></script>
</body>
</html>
