service:
  name: {{ item.name }}
  cluster: {{ ecs_cluster_name }}
  desired_count: 2
  launch_type: FARGATE
  task_definition: {{ item.name }}
  network_configuration:
    subnets:
      - subnet-xxxxxxx
    assign_public_ip: true
    security_groups:
      - sg-xxxxxxxx

